<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gebruikers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Gegevens verversen...">
        </ion-refresher-content>
    </ion-refresher>

    <!-- <ion-fab top right edge> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openItemDetail()" color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card *ngIf="!AllItems || AllItems.length < 1" padding>
        <p>Geen Items beschikbaar</p>
    </ion-card>

    <ion-card *ngIf="AllItems">
        <ion-list>
            <ion-item *ngFor="let Item of AllItems">
                <ion-avatar slot="start" class="hydrated" (click)="openItemDetail(Item)">
                    <img [src]="getAvatarURL(Item)">
                    <!-- <ion-icon name="person" item-start color="primary"></ion-icon> -->
                    <!-- <div class="avatar" [ngStyle]="{'background-image': 'url('+ getAvatarURL(user) + ')'}"></div> -->
                </ion-avatar>
                <ion-label class="" (click)="openItemDetail(Item)">
                    <h2>{{Item.firstname}} {{Item.lastname}}</h2>
                    <!-- <h3>I'm a big deal</h3> -->
                    <p>{{Item.role}}</p>
                </ion-label>
                <!-- <button ion-button clear item-end>View</button> -->
                <!-- <ion-icon name="chatbubbles" item-end color="primary" (click)="startChat(user)" class="m-r-20"></ion-icon> -->
                <ion-icon name="{{Item.isActive ? 'checkmark-circle' : 'close-circle'}}" color="{{Item.isActive ? 'true' : 'false'}}" item-end margin-right (click)="changeState(Item)"></ion-icon>
                <ion-icon name="create" item-end color="secondary" (click)="openItemDetail(Item)"></ion-icon>
                <ion-icon name="trash" item-end color="danger" (click)="deleteItem(Item)" *ngIf="authService.currentUserValue.role == 'admin'"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>