<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Shit Image</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="currentItem">
        <ion-card-content>
            <ion-item  *ngIf="!currentItem.id">
                <ion-label position="floating">Titel</ion-label>
                <ion-input [(ngModel)]="currentItem.title"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col size="12" size-sm="4" *ngIf="currentItem.url">
                    <ion-img class="full-image" [src]="currentItem.url"></ion-img>
                </ion-col>
                <ion-col size="12" size-sm="currentItem.url ? 8 : 12">
                    <ng-container *ngIf="!currentItem.id">
                        <ion-item>
                            <ion-label position="floating">URL</ion-label>
                            <ion-input [(ngModel)]="currentItem.url"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Korte beschrijving</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-textarea [(ngModel)]="currentItem.text"></ion-textarea>
                            <!-- <angular-editor [(ngModel)]="currentItem.text" [config]="editorConfig"></angular-editor> -->
                        </ion-item>
                        <!-- <ion-item>
                            <ion-label>Geplaatst: </ion-label>
                            <ion-datetime [(ngModel)]="currentItem.createdAt" displayFormat="DD-MM-YYYY HH:mm" disabled></ion-datetime>
                        </ion-item> -->
                    </ng-container>

                    <ng-container *ngIf="currentItem.id" >
                        <ion-card-subtitle>{{currentItem.createdAt | date:'dd MMMM yyyy' }}</ion-card-subtitle>
                        <ion-card-title>{{currentItem.title}}</ion-card-title>
                        <div [innerHTML]="currentItem.text"></div>
                    </ng-container>

                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row *ngIf="!currentItem?.id">
        <ion-col>
            <ion-button float-right (click)="saveContent(currentItem)">Opslaan</ion-button>
        </ion-col>
    </ion-row>

</ion-content>