<ion-content padding>
    <ion-card *ngIf="currentItem">
        <ion-card-header>
            <ion-card-title>{{currentItem.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="currentItem.content"></ion-card-content>
    </ion-card>
</ion-content>