<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Informatie</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-tabs>
        <!-- <ion-tab tab="about-scorpion">Over Scorpion</ion-tab> -->
        <!-- <ion-tab tab="release-notes">Release nOtes</ion-tab> -->
        <!-- <ion-tab tab="release-notes"  component="info-page/shitapp-releasenotes">Over Scorpion</ion-tab> -->
        <!-- <ion-tab tab="about">Over deze app</ion-tab> -->
        <!-- <ion-route url="/about-scorpion" component="about-scorpion"></ion-route> -->

        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="tab1/shitapp-about">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Over deze app </ion-label>
            </ion-tab-button>

            <ion-tab-button tab="tab2/shitapp-releasenotes">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Release notes</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="tab3">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Over Scorpion...</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>

</ion-content>