.user-account-block {
    width: 100%;
    min-height: 50px;
    position: relative;
    justify-content: center;
    & .avatar {
        height: 250px;
        width: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        // border-radius: 50%;
        // border: 7px solid var(--ion-color-light);
        margin: 2%;
        display: block;
        clear: both;
    }
}