<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Gebruikers profiel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="currentUser">
        <ion-card-content>

            <ion-row>
                <!-- <ion-col size="12" size-sm="4">
                    <ion-row class="user-account-block">
                        <div class="avatar" [ngStyle]="{'background-image': 'url('+ getAvatarURL() + ')'}"></div>
                    </ion-row>
                </ion-col>
                <ion-col size="12" size-sm="8"> -->
                <ion-col size="12" size-sm="12">
                    <ion-row>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>Voornaam</ion-label>
                                <ion-input [(ngModel)]="currentUser.firstname" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>Achternaam</ion-label>
                                <ion-input [(ngModel)]="currentUser.lastname" required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Bedrijf</ion-label>
                                <ion-input [(ngModel)]="currentUser.company"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>E-mail privé</ion-label>
                                <ion-input [(ngModel)]="currentUser.emailPrivate" type="email" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>E-mail zakelijk</ion-label>
                                <ion-input [(ngModel)]="currentUser.emailBusiness" type="email"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>Telefoon privé</ion-label>
                                <ion-input [(ngModel)]="currentUser.phonePrivate" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>Telefoon zakelijk</ion-label>
                                <ion-input [(ngModel)]="currentUser.phoneBusiness"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>{{currentUser.id ? 'Reset wachtwoord' : 'Wachtwoord'}}</ion-label>
                                <ion-input [(ngModel)]="password"></ion-input>
                                <ion-button item-end *ngIf="currentUser.id" (click)="resetPassword()">Reset</ion-button>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12" size-sm="6">
                            <ion-item>
                                <ion-label>Laatste login: </ion-label>
                                <ion-datetime [(ngModel)]="currentUser.latestLogin" displayFormat="DD-MM-YYYY HH:mm" disabled></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row>
        <ion-col>
            <ion-button float-right (click)="saveContent(currentUser)">Opslaan</ion-button>
        </ion-col>
    </ion-row>

</ion-content>