ion-menu {
    --background: linear-gradient(to bottom, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
    & ion-content {
        --background: linear-gradient(to bottom, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
        --ion-background-color: transparent;
        & ion-list {
            padding: 0px !important;
            & .user-account-block {
                width: 100%;
                min-height: 50px;
                padding: 10px;
                position: relative;
                & .avatar {
                    height: 100px;
                    width: 100px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    // border-radius: 50%;
                    // border: 7px solid var(--ion-color-light);
                    margin: 10% 5% 5% 5%;
                    display: block;
                    clear: both;
                }
                p {
                    width: 100%;
                    padding: 5px 20px 10px 20px;
                    margin: 0px;
                    &.full-name {
                        color: var(--ion-color-light);
                        font-size: 1.4em;
                    }
                    &.company-name {
                        color: rgba( var(--ion-color-light-rgb), 0.7);
                    }
                }
                & .user-account-link {
                    position: absolute;
                    color: var(--ion-color-light);
                    bottom: 20px;
                    right: 15px;
                    & ion-icon {
                        font-size: 2.2em !important;
                    }
                }
            }
            & ion-menu-toggle {
                & ion-item {
                    color: var(--ion-color-light);
                    --background: transparent !important;
                    & ion-icon {
                        color: var(--ion-color-light);
                        margin-right: 20px;
                    }
                    // & ion-label {
                    //     // background-color: var(--ion-color-secondary);
                    // }
                }
            }
        }
        & .appversion {
            position: absolute;
            bottom: 5px;
            right: 5px;
            clear: both;
            color: var(--ion-color-light-shade);
            font-size: 0.8em;
            text-align: right;
        }
    }
}

.bold {
    font-weight: bold !important;
}

.no-scroll .scroll-content {
    overflow: hidden;
}

ion-content {
    // --background: linear-gradient(to bottom, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
    --background: radial-gradient(ellipse at center, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
}

ion-item {
    --background: var(--ion-color-primary-tint) !important;
}

ion-card {
    --background: var(--ion-color-primary-tint) !important;
    --color: var(--ion-color-secondary) !important;
}