<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'APP.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login-content no-scroll">

    <form [formGroup]="loginForm" (submit)="doLogin()" (keyup.enter)="doLogin()">
        <ion-grid>
            <ion-row>
                <ion-col size="10" size-md="4" offset="1" offset-md="4">
                    <ion-list lines="none" class="no-back">
                        <ion-item class="input-style shaded">
                            <ion-icon name="mail-outline" item-start color="tertiary" class="icon-small"></ion-icon>
                            <ion-input type="email" formControlName="username" placeholder="E-mailadres" autocomplete="username"></ion-input>
                        </ion-item>
                        <ion-row id="error-messages-wrapper" *ngIf="formSubmitted && loginForm.controls['username'].errors">
                            <ion-col class="ion-text-center" routerLink="/forgot-password">
                                <ng-container *ngIf="formSubmitted && loginForm.controls['username'].errors">
                                    <div *ngIf="loginForm.controls['username'].errors.required">
                                        <ion-text color="danger">Gebruikersnaam is verplicht</ion-text>
                                    </div>
                                    <div *ngIf="loginForm.controls['username'].errors.email">
                                        <ion-text color="danger">Gebruikersnaam dient een geldig e-mailadres te zijn</ion-text>
                                    </div>
                                </ng-container>
                            </ion-col>
                        </ion-row>
                        <ion-item class="input-style shaded">
                            <ion-icon name="lock-closed-outline" item-start color="tertiary" class="icon-small"></ion-icon>
                            <ion-input type="password" formControlName="wachtwoord" placeholder="Wachtwoord" autocomplete="current-password"></ion-input>
                        </ion-item>
                        <ion-row id="error-messages-wrapper" *ngIf="formSubmitted && loginForm.controls['wachtwoord'].errors">
                            <ion-col class="ion-text-center" routerLink="/forgot-password">
                                <ng-container *ngIf="formSubmitted && loginForm.controls['wachtwoord'].errors">
                                    <div *ngIf="loginForm.controls['wachtwoord'].errors.required">
                                        <ion-text color="danger">Wachtwoord is verplicht</ion-text>
                                    </div>
                                    <div *ngIf="!loginForm.controls['wachtwoord'].errors.required">
                                        <ion-text color="danger">Wachtwoord of gebruikersnaam onjuist</ion-text>
                                    </div>
                                </ng-container>
                            </ion-col>
                        </ion-row>
                        <ion-item class="remember-me transparent-background" *ngIf="showRememberMe && !fingerprintAvailable">
                            <ion-checkbox name="rememberMe" formControlName="rememberMe" mode="md"></ion-checkbox>
                            <ion-label>Gegevens onthouden</ion-label>
                        </ion-item>

                        <ion-row class="forgotPassword pb-15">
                            <ion-col class="ion-text-center" routerLink="/register">
                                <a>Registreren</a>
                            </ion-col>
                        </ion-row>

                        <ion-button expand="block" type="submit" gradient>Inloggen</ion-button>

                        <ion-row id="error-messages-wrapper" *ngIf="errorMessage">
                            <ion-col class="ion-text-center">
                                <div>
                                    <ion-text color="danger">{{errorMessage}}</ion-text>
                                </div>
                            </ion-col>
                        </ion-row>


                    </ion-list>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

    <ng-container *ngIf="fingerprintAvailable && fingerPrintRetry">
        <ion-icon name="finger-print" class="finger-print-retry" (click)="requestFingerprint()"></ion-icon>
    </ng-container>

</ion-content>