form {
    margin-top: 10vh;
}

ion-list {
    &.no-back {
        background-color: transparent;
    }
    & ion-item {
        margin-bottom: 10px;
        & ion-icon {
            margin-right: 10px;
        }
        & ion-checkbox {
            margin-right: 10px;
        }
    }
}
ion-icon {
    &.finger-print-retry {
        zoom: 2;
        position: absolute;
        bottom: 2.5vh;
        left: 50%;
        transform: translateX(-50%);
        color: var(--ion-color-primary-tint);
        &:before{
        font-size: 8vh !important;
        color: white;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
        }
    }
}