<ion-app>
    <!-- <ion-split-pane when="xl"> -->
    <ion-menu id="mainMenu" contentId="mainMenu" type="overlay" >

        <ion-content>
            <ion-list class="menu-list">

                <ion-row class="user-account-block">
                    <div class="avatar" *ngIf="currentUser" [ngStyle]="{'background-image': 'url('+ utilitySrv.getAvatarURL(currentUser) + ')'}"></div>

                    <p class="full-name" *ngIf="currentUser">{{currentUser.firstname}} {{currentUser.lastname}}</p>
                    <p class="company-name" *ngIf="currentUser && currentUser.company">{{currentUser.company}}</p>
                    <ion-menu-toggle class="user-account-link" (click)="openPageUserAccount()">
                        <ion-icon name="settings" color="primary" size="small"></ion-icon>
                    </ion-menu-toggle>
                </ion-row>

                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                    <ion-item (click)="authService.logout()">
                        <ion-icon slot="start" name="log-out"></ion-icon>
                        <ion-label>
                            {{ 'LOGIN.LOGOUT' | translate }}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>

            <div class="appversion">{{appName}} v.{{appVersion}}</div>

        </ion-content>
    </ion-menu>
    <ion-router-outlet main id="app-content"></ion-router-outlet>
    <!-- </ion-split-pane> -->
</ion-app>