ion-menu {
    // --background: var(--ion-color-light);
    & ion-content {
        --ion-background-color: transparent;
        & ion-list {
            padding: 0px !important;
            & .user-account-block {
                background: var(--ion-color-gradient-tint);
                background: linear-gradient(to right bottom, var(--ion-color-gradient), var(--ion-color-gradient-contrast), var(--ion-color-gradient-shade), var(--ion-color-gradient-tint))!important;
                width: 100%;
                min-height: 150px;
                padding: 10px;
                position: relative;
                & .avatar-toggle {
                    display: contents;
                    & .avatar {
                        height: 100px;
                        width: 100px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        border: 1px solid var(--ion-color-light);
                        // box-shadow: 0px 0px 12px 6px rgb(32 57 90);
                        margin: 10% 5% 5% 5%;
                        display: block;
                        clear: both;
                    }
                }
                p {
                    width: 100%;
                    padding: 0px 0px 0px 20px;
                    margin: 0px;
                    &.full-name {
                        color: var(--ion-color-light);
                        font-size: 1.4em;
                    }
                    &.company-name {
                        color: rgba( var(--ion-color-light-rgb), 0.7);
                        font-size: 85% !important;
                    }
                }
                & .user-account-link {
                    position: absolute;
                    color: var(--ion-color-light);
                    bottom: 20px;
                    right: 15px;
                    & ion-icon {
                        font-size: 2.2em !important;
                    }
                }
            }
            & ion-menu-toggle {
                & ion-item {
                    color: var(--ion-color-light);
                    --background: transparent !important;
                    border-bottom: 1px solid var(--ion-color-step-100);
                    & ion-icon {
                        color: var(--ion-color-tertiary-shade);
                        margin-right: 20px;
                    }
                    & ion-badge {
                        color: white;
                        padding: 5px 10px;
                    }
                }
            }
        }
        & .appversion {
            position: fixed;
            bottom: 15px;
            right: 5px;
            clear: both;
            color: var(--ion-color-tertiary-shade);
            font-size: 0.8em;
            text-align: right;
        }
    }
}