<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'APP.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login-content no-scroll" padding>

    <ion-grid>
        <ion-row>
            <ion-col size="10" size-md="4" offset="1" offset-md="4">

                <ion-card>
                    <form [formGroup]="registerForm" (submit)="registerUser()" (keyup.enter)="registerUser()">


                        <ion-item>
                            <ion-label position="floating">Voornaam</ion-label>
                            <ion-input type="text" formControlName="firstname"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Achternaam</ion-label>
                            <ion-input type="text" formControlName="lastname"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">E-mail</ion-label>
                            <ion-input type="email" formControlName="emailPrivate"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Wachtwoord</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Herhaal wachtwoord</ion-label>
                            <ion-input type="password" formControlName="passwordCheck"></ion-input>
                        </ion-item>

                        <ion-button type="submit" expand="block">Registreer</ion-button>
                    </form>
                </ion-card>

                <div padding>
                    <ion-button routerLink="/login" routerDirection="root" fill="clear" expand="block">
                        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                        Terug naar login
                    </ion-button>
                </div>

            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>