<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Gebruiker {{!userID ? 'aanmaken' : 'bewerken'}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="user">
        <ion-card-header *ngIf="user.firstname">
            {{user.firstname}} {{user.lastname}}
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Voornaam</ion-label>
                        <ion-input [(ngModel)]="user.firstname" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Achternaam</ion-label>
                        <ion-input [(ngModel)]="user.lastname" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Bedrijf</ion-label>
                        <ion-input [(ngModel)]="user.company"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>E-mail privé</ion-label>
                        <ion-input [(ngModel)]="user.emailPrivate" type="email" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>E-mail zakelijk</ion-label>
                        <ion-input [(ngModel)]="user.emailBusiness" type="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Telefoon privé</ion-label>
                        <ion-input [(ngModel)]="user.phonePrivate" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Telefoon zakelijk</ion-label>
                        <ion-input [(ngModel)]="user.phoneBusiness"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Rol</ion-label>
                        <ion-select [(ngModel)]="user.role" [interface]="'popover'" [disabled]="_auth.currentUserValue.role == 'manager' && user.role == 'admin'" required>
                            <ion-select-option *ngFor="let role of roles" [value]="role" [disabled]="_auth.currentUserValue.role != 'admin' && user.role == 'admin'">{{role}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Actief</ion-label>
                        <ion-toggle [(ngModel)]="user.isActive"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>{{user.id ? 'Reset wachtwoord' : 'Wachtwoord'}}</ion-label>
                        <ion-input [(ngModel)]="password"></ion-input>
                        <button ion-button item-end *ngIf="user.id" (click)="resetPassword()" [disabled]="_auth.currentUserValue.role != 'admin' && user.role === 'admin'">Reset</button>
                    </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="6">
                    <ion-item>
                        <ion-label>Laatste login: </ion-label>
                        <ion-datetime [(ngModel)]="user.latestLogin" displayFormat="DD-MM-YYYY HH:mm" disabled></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Notitie</ion-label>
                        <ion-textarea [(ngModel)]="user.note"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row>
        <ion-col>
            <ion-button float-right (click)="saveContent(user)">Opslaan</ion-button>
        </ion-col>
    </ion-row>

</ion-content>