<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'APP.TITLE' | translate }}
            <span class="ion-hide-sm-down">{{ environment != 'production' ? '&nbsp;-&nbsp;' + environment : '' }}</span>
        </ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button routerLink="/userprofile" routerDirection="forward">
                <ion-icon slot="start" name="contact"></ion-icon>
                <span class="ion-hide-sm-down">{{userData.firstname}} {{userData.lastname}}</span>
            </ion-button>
            <ion-button (click)="authService.logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content class="">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Gegevens verversen...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userData.role === 'admin'" >
        <ion-fab-button (click)="openItemDetail()" color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card *ngIf="!AllItems || AllItems.length < 1" padding>
        <p>Geen Items beschikbaar</p>
    </ion-card>

    <ng-container *ngIf="AllItems">
        <ion-grid>
            <ion-row>
                <ng-container *ngFor="let Item of AllItems | orderBy : sortOrder : sortDesc">
                    <ion-col size="12" size-md="4" (click)="openItemDetail(Item)">
                        <!-- <ion-card (click)="openShitID == Item.id ? openShitID = 0 : openShitID = Item.id"> -->
                        <ion-card>
                            <ion-img class="full-image" [src]="Item.url"></ion-img>
                            <ion-card-header>
                                <ion-card-subtitle>{{Item.createdAt | date:'dd MMMM yyyy' }}</ion-card-subtitle>
                                <ion-card-title>{{Item.title}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content [innerHTML]="Item.text | slice: 0 : openShitID == Item.id ? 9999 : 100 "></ion-card-content>
                        </ion-card>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </ng-container>

</ion-content>