<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Over Scorpion Computers & Software</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Scorpion Computers &amp; Software</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="assets/imgs/Logo_ScorpionComputers.png" />
                        <p>Wanneer u een vraag heeft dan mag u natuurlijk altijd contact met ons opnemen. Dat kan middels de contactgegevens op deze pagina.</p>
                        <!-- <p>Deze gegevens kan u direct toevoegen aan uw contactpersonen door de desbetreffende knop te gebruiken.</p> -->
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">

                <ion-card>
                    <ion-card-content>
                        <p class="bold">Bezoek adres:</p>
                        <p>Kapelanijstraat 1, 3900 Pelt (België)</p>
                        <p class="bold">Administratief adres:</p>
                        <p>Goudsbloem 52, 5071 EZ Udenhout (Nederland)</p>
                        <br/>
                        <p class="bold">Tel. : <a href="tel:+31613493685">+31 (6) 13493685</a></p>
                        <!-- <p class="bold">Email: <a href="mailto:info@ScorpionComputers.nl?body={{mailBody}}">info@ScorpionComputers.nl</a></p> -->
                        <p class="bold">Email: <a href="mailto:info@ScorpionComputers.nl">info@ScorpionComputers.nl</a></p>
                        <p class="bold m-b-2">Website: <a href="https://ScorpionComputers.nl">www.ScorpionComputers.nl</a></p>
                        <!-- <button id="contact-button2" ion-button block color="royal" icon-left (click)="saveContact()" class="m-t-30">
                            <ion-icon name="contacts"></ion-icon>
                            Voeg toe aan uw contacten
                        </button> -->
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>